/* Footer.css */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #a7a5dd;
  padding: 12px 0;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-buttons {
  display: flex;
  justify-content: space-around;
}

.footer-button {
  text-decoration: none;
  color: #ffffff;
  padding: 15px;
  border-radius: 50%;
  background-color: #a7a5dd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.299);
}

.footer-button:hover {
  background-color: #f5f5f5;
}

.footer-button .icon {
  font-size: 20px;
}
