

/* Header text styles */
.header1 {
  color:#5f43b2;/* Changed to purple */
  font-size: 1.25em; /* Made smaller */
  margin: 10px 0;
  text-align: center;
}

.horizontal-line {
  border: none; /* Remove default border */
  border-top: 1px solid#5f43b2;; /* Add a solid line */
  margin: 20px 0; /* Adjust margin as needed */
}

/* Header text styles */
.header2 {
  color:#5f43b2;
  font-size: 1.25em; 
  margin: 10px 0;
  text-align: left;
}


.label-holder{
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
  margin-bottom: 35px;
}

.star-rating {
  margin-left: 50%; /* Add margin between the label and stars */
}

.review-count{
  color: #555;
}

.abouthem{
  margin-top:50px;
  padding-bottom:10px;
}

/* Freelancer profile card */
.freelancer-profile-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 390px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This will be removed to keep contents together */
  
}

/* Image styles */
.freelancer-avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 0 auto 10px; /* Center the image */
  border: 3px solid #fff; /* Optional: for a white border around the image */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}


.info{
  margin-bottom: 0px;
  margin-top:0px;
}


/* Hyperlink styles */
a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



.reviews-container{
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 390px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This will be removed to keep contents together */
}


/* Responsive styling */
@media (max-width: 390px) {
  .freelancer-details-container {
    padding: 10px;
  }
  .freelancer-profile-card {
    margin-top: 10px; /* Give some space at the top */
    margin-bottom: 10px; /* And at the bottom */
  }
}

/* Add more media queries as needed for larger devices */
@media (min-width: 391px) {
  .freelancer-profile-card {
    margin-top: 30px; /* More space on larger devices */
    margin-bottom: 30px;
  }
}
