.editProfile,
.changePassword,
.saveChanges,
.cancelButton {
  background-color: #4540db !important;
  color: white !important;
  width: 250px !important;
  transition: 0.3s ease-in-out all;
}

.editProfile:hover,
.changePassword:hover,
.saveChanges:hover,
.cancelButton:hover {
  background-color: #382fb8 !important;
}

.cancelButton {
  width: 100% !important;
}

.footerwrapper {
  background-color: rgb(248, 249, 250) !important;
}
.btn-danger {
  background: var(--red-light);
  color: var(--red-dark);
  margin-left: 0 !important; /* Added this line to override Bootstrap styles */
}

.center-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjusts spacing from the element above */
}
/* iPhone 12 screen adjustments */
@media only screen and (max-width: 390px) {
  /* Reducing card padding */
  .card-body {
    padding: 0.5rem;
  }

  /* Adjusting button width, margin, and padding */
  .btn {
    width: auto; /* Allows the button to shrink */
    padding: 0.375rem 0.75rem;
    margin-bottom: 0.5rem; /* Reduces space below the button */
  }

  /* Adjusting the image size */
  .rounded-circle {
    width: 80px;
    height: 80px;
  }

  /* Adjusting the space around buttons */
  .center-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Ensuring the edit button is not too wide */
.editProfile {
  max-width: 100%; /* Limits button width to its parent's width */
}

.center-buttons {
  display: flex;
  justify-content: center; /* This will center the button horizontally */
  align-items: center;
  margin-top: 20px;
}
