.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.condo-info {
  display: flex;
  flex-direction: column;
}

.user-tag {
  display: flex;
  align-items: center;
}

.image-and-info {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 50%;
  margin-right: 10px;
}



.star-rating2 {
  display: flex;
  justify-content: flex-end;
}

.star-rating2 .icon {
  font-size: 20px;
  color: #ccc;
}

.star-rating2 .filled {
  color: gold;
}
