.search-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search {
    padding-bottom: 50px;
    padding-top:50px;
  }
  .search-input {
    width: 500px;
    height: 40px;
    background-color: #e2ebf4;
    border: 1px solid var(--grey-200);
    border-radius: 2px;
    padding: 0.375rem 0.75rem;
  }

  
  /*=============================NO RESULTS==============================*/
  
  .noResults {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: larger;
  }